  <div class="wrapper">
    <div class=" container form-signin">
<%= simple_form_for @post do |f| %>
  

  <div class="form-group">
    <%= f.input :author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :category, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, :as => :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
</div>